# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Environment / secrets
.env
.env.*

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android
android/.gradle/
android/local.properties
/android/app/debug
/android/app/profile
/android/app/release

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# macOS
macos/Pods/
macos/Flutter/ephemeral/
